{% extends "base.html" %}
{% block navbutton %}
<ul class="nav navbar-nav">
    <li><a href="/">Channels</a></li>
    <li class="active"><a href="#">Channel search results</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Search in <small>{{ channel.name }}</small></h1>
</div>
<form action="/search/{{ channel.id }}" method="GET">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
        <input type="text" name="q" class="form-control" placeholder="Search for...">
    </div>
</form>
<br>
<div class="well">
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">
            {{ message.message_date }}
            <span class="label label-default">{{ message.user_name }}</span>
            {{ message.message_text }}<br>
        </li>
        {% endfor %}
        {% if empty %}
            No results
        {% endif %}
    </ul>
</div>
{% endblock %}