{% extends "base.html" %}
{% block navbutton %}
<ul class="nav navbar-nav">
    <li><a href="/">Channels</a></li>
    <li class="active"><a href="/channel/{{ channel.id }}">{{ channel.name }}</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Logs for channel <small>{{ channel.name }}</small></h1>
</div>
<form action="/search/{{ channel.id }}" method="GET">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
        <input type="text" name="q" class="form-control" placeholder="Search for...">
    </div>
</form>
<br>
<div class="well">
    <div class="list-group">
        {% for date in dates %}
            <a href="/channel/{{ channel.id }}/{{ date.year }}/{{ date.month }}/{{ date.day }}" class="list-group-item">
                {{ date.year }}/{{ date.month }}/{{ date.day }}<br>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
