<div id="dates">
    <form action="/search/{{ channel.id }}" method="GET">
        <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
            <input type="text" name="q" class="form-control" placeholder="Search for...">
        </div>
    </form>
    <br>
    <div class="list-group">
        {% for date in dates %}
        <a onclick="getLogs('{{ channel.id }}',
                            '{{ date.year }}',
                            '{{ date.month }}',
                            '{{ date.day }}',
                            'button-{{ channel.id }}-{{ date.year }}-{{ date.month }}-{{ date.day }}')"
           id="button-{{ channel.id }}-{{ date.year }}-{{ date.month }}-{{ date.day }}"
           class="list-group-item"
           data-toggle="collapse"
           data-target="#{{ date.year }}-{{ date.month }}-{{ date.day }}"
           data-parent="#dates"
        >
            {{ date.year }}/{{ date.month }}/{{ date.day }}
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
        <div id="{{ date.year }}-{{ date.month }}-{{ date.day }}" class="sublinks collapse">
        </div>
        {% endfor %}
    </div>
</div>
