{% extends "base.html" %}
{% block navbutton %}
<ul class="nav navbar-nav">
    <li><a href="/">Channels</a></li>
    <li><a href="#">Global search results</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Global search results for query: <small>{{ q }}</small></h1>
</div>
<form action="/search" method="GET">
    <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
        <input type="text" name="q" class="form-control" placeholder="Global search for...">
    </div>
</form>
<br>
<div class="well">
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">
            <span class="label label-info">{{ message.message_channel }}</span>
            {{ message.message_date }}
            <span class="label label-default">{{ message.user_name }}</span>
            {{ message.message_text }}<br>
        </li>
        {% endfor %}
        {% if empty %}
        No results
        {% endif %}
    </ul>
</div>
{% endblock %}
