{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <form action="/search" method="GET">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
                <input type="text" name="q" class="form-control" placeholder="Global search for...">
            </div>
        </form>
        <br />
        <div class="list-group">
            <a  id="channel-{{ firstchannel.id }}"
                class="list-group-item active"
                onclick="getChannel('{{ firstchannel.id }}')">
                {{ firstchannel.name }}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
            {% for channel in restchannels %}
                <a id="channel-{{ channel.id }}"
                   class="list-group-item"
                   onclick="getChannel('{{ channel.id }}')">
                    {{ channel.name }}
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <div id="dates">
            <form action="/search/{{ firstchannel.id }}" method="GET">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                    <input type="text" name="q" class="form-control" placeholder="Search for...">
                </div>
            </form>
            <br>
            <div class="list-group">
                {% for date in dates %}
                <a onclick="getLogs('{{ firstchannel.id }}',
                                     '{{ date.year }}',
                                     '{{ date.month }}',
                                     '{{ date.day }}',
                                     'button-{{ fistchannel.id }}-{{ date.year }}-{{ date.month }}-{{ date.day }}')"
                   id="button-{{ fistchannel.id }}-{{ date.year }}-{{ date.month }}-{{ date.day }}"
                   class="list-group-item"
                   data-toggle="collapse"
                   data-target="#{{ date.year }}-{{ date.month }}-{{ date.day }}"
                   data-parent="#dates"
                >
                    {{ date.year }}/{{ date.month }}/{{ date.day }}
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <div id="{{ date.year }}-{{ date.month }}-{{ date.day }}" class="sublinks collapse">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    function getLogs(channel_id, year, month, day, button_id) {
        $.get('/logs', {
                channel_id: channel_id,
                year: year,
                month: month,
                day: day
            }, function (data) {
                $("#" + year + "-" + month + "-" + day).html(data);
                $("#" + button_id).attr('onclick', '').unbind('click');
        });
    }

    function getChannel(channel_id) {
        $.get('/channel', {
            channel_id: channel_id
        }, function (data) {
            $("#dates").html(data);
        });

        $("a.list-group-item").each( function() {
            $(this).removeClass("active");
        });
        $('#channel-'+channel_id).addClass("active");
    }
</script>
{% endblock %}
