<div class="well">
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">
            {{ message.message_date }}
            <span class="label label-default">{{ message.user_name }}</span>
            {{ message.message_text }}<br>
        </li>
        {% endfor %}
</div>
